@use "sass:color";
@use "theme";
@use "variable";
@use "common";

/* Popover container for date and calendar */
#date-menu {
  @include common.floating-widget;
  @include common.spacing;

  background-color: theme.$background;
  border-radius: variable.$radius;
  padding: variable.$padding * 2;
  min-width: 250px;
}

/* Clock label styling */
#popover-time {
  padding: variable.$padding;

  label {
    font-size: 2.8em;
    font-weight: 600;
    color: theme.$text-main;
  }
}

/* Calendar container styling */
#popover-calendar {
  @extend %widget;
  background-color: theme.$background-alt;
  border-radius: variable.$radius;
  margin-top: variable.$spacing;
  padding: 1em;
}

/* Calendar internal node */
#popover-calendar calendar {
  font-size: 1em;
  padding: variable.$padding variable.$padding 0;
  background-color: theme.$background-alt;
  color: theme.$text-main;
  border-radius: variable.$radius;

  &.button {
    border-radius: variable.$radius;
    transition: 150ms;
  }

  &.button:hover {
    background-color: theme.$surface-highlight;
    color: theme.$primary;
  }

  &:selected {
    box-shadow:
      inset 0 -4px 0 0 theme.$text-muted,
      inset 0 0 0 1px theme.$text-muted;
    border-radius: variable.$radius * 0.6;
  }

  &.header {
    color: theme.$primary;
  }

  &.highlight {
    color: theme.$primary;
  }

  &:indeterminate {
    color: color.mix(theme.$text-main, transparent, 10%);
  }
}

/* Timer elements inside date-menu */
#date-menu {
  .timer-title {
    font-weight: 600;
    color: theme.$text-main;
    margin-top: 0.5em;
  }

  entry {
    background-color: theme.$background-alt;
    border-radius: variable.$radius;
    padding: 0.3em 0.5em;
    font-weight: bold;
    color: theme.$text-main;

    &:focus {
      outline: none;
      border: 1px solid theme.$primary;
    }
  }

  label#timer-label {
    font-size: 1.5em;
    font-weight: bold;
    color: theme.$text-main;
    /* margin-top: 0.5em; */
  }
}

/* Timer Start Button */
#timer-start-button {
  margin: 0.3em 0 0 0;
  padding: 0.25em 1em;
  font-weight: bold;
  border-radius: variable.$radius-large;
  background-color: transparent;
  color: theme.$text-main;
  transition: background-color 120ms ease;
  border: 1px solid theme.$primary;

  &:hover {
    background-color: theme.$surface-disabled;
  }

  &:active {
    background-color: theme.$text-main;
    color: theme.$background;
  }

  &:focus {
    outline: none;
    border: 1px solid theme.$primary;
  }
}
